.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
# .vehicleAPI/__pycache__/*
# vehicleAPI/__pycache__/admin.cpython-38.pyc
